apiVersion: v1
kind: Service
metadata:
  name: db
  labels:
    app.kubernetes.io/instance: {{ .Release.Name }}
    app.kubernetes.io/name: postgres
    component: db
spec:
  type: ClusterIP
  ports:
  - name: tcp-postgres
    port: 5432
    targetPort: 5432
  selector:
    app.kubernetes.io/instance: {{ .Release.Name }}
    component: db